.App {
  box-sizing:border-box;
  font-family: sans-serif;
  margin:100px 0px 0px 0px;
}

.main-container{
  border:1px solid black;
  width:500px;
  height:350px;
}
.cont-text{
  display:flex;
  justify-content: space-between;
}
.todo-table{
  width:100%;
  border:1px solid black;
  margin:5px 0px 0px 0px;
}
